video {
	margin: auto;
}

.nav-bar ul li {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 5px 25px

}

.nav-bar ul{
	font-family:"Helvetica";
	background-color:black;
	font-size: 25px;
	border: 1px solid black;
	color:rgb(255,255,255);
}


.continer-articles {
	width: 70%;
}

<<<<<<< HEAD

fieldset{
	padgit ding-bottom :15px;
}

=======
footer {
	padding-top: 20px;
	padding-bottom: 50px;
	border-radius: 10px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */


}
>>>>>>> 827f2864df93e991280a1fad2488675353cf1dc0
