video {
	margin: auto;
}

.nav-bar ul li {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 5px 25px
}

.nav-bar ul li{
	font-size: 20px;
	font-style: "Helvetica";


}

.nav-bar ul li a{
	color: black;
	border-right: 1px solid black;
	padding-right: 15px;
}


a:a:last-child{
	border-right: 1px solid white;
}

.continer-articles {
	width: 70%;
}


#div1{
	height:90px;
	width: 100%
}

#div2{
	height:90px;
	width: 100%;

}

#div3{
	height:90px;
	width: 100%;
	margin:60px;
	right: 80px;
}


<<<<<<< HEAD

fieldset{
	padgit ding-bottom :15px;
}

=======
footer {
	padding-top: 20px;
	padding-bottom: 200px;
	border-radius: 10px;

<<<<<<< HEAD
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(68%, rgba(245,245,245,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
=======
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */


}
>>>>>>> 827f2864df93e991280a1fad2488675353cf1dc0
>>>>>>> d8146c8d8fb2c80622020fa925b26eae2d061b72
